@use "utils" as *;

$color_type_0: rgb(0, 0, 0);
$color_type_1: rgb(215, 139, 139);
$color_type_2: rgb(245, 245, 245);
$color_type_3: rgb(255, 255, 255);
$color_type_4: rgb(36, 173, 13);
$color_type_5: rgb(37, 134, 223);
$color_type_6: rgb(9, 9, 9);

$padding_type_0: undefinedpx undefinedpx undefinedpx undefinedpx;

$border_radius_type_0: 10px 10px 10px 10px;

$font_type_0: 500 35px/1.51 "Poppins", Helvetica, Arial, serif;
$font_type_1: 500 25px/1.52 "Poppins", Helvetica, Arial, serif;
$font_type_2: 500 20px/1.5 "Poppins", Helvetica, Arial, serif;
$font_type_3: 300 20px/1.5 "Poppins", Helvetica, Arial, serif;
$font_type_4: 300 1em/1.5 "Poppins", Helvetica, Arial, serif;

.main {
  @include flex-column;
  background-color: $color_type_2;
  padding: $padding_type_0;
  position: relative;
  overflow: hidden;
  min-height: 0px;
}
.main > .item {
  @include flex-column;
  position: relative;
}
.section1__section1 {
  @include flex-column;
  position: relative;
  flex-grow: 1;
  min-height: 992px;
  margin: 0px 0px 32px;
}
.section1__rect {
  background-color: $color_type_2;
  width: 1280px;
  height: 832px;
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 1280px;
}
.section1__rect1 {
  background-color: $color_type_3;
  width: 1217px;
  height: 951px;
  position: absolute;
  top: 41px;
  left: 31px;
  min-width: 1217px;
}
.section1__big_title {
  @include font-face($font_type_0, $color_type_0, 0px);
  width: 100%;
  height: 100%;
}
.section1__rect2 {
  background-color: $color_type_2;
  border-radius: $border_radius_type_0;
  width: 330px;
  height: 68px;
  position: absolute;
  top: 240px;
  left: 231px;
  min-width: 330px;
}
.section1__medium_title {
  @include font-face($font_type_1, $color_type_0, 0px);
  width: 100%;
  height: 100%;
}
.section1__subtitle {
  @include font-face($font_type_2, $color_type_6, 0px);
  width: 100%;
  height: 100%;
}
.section1__rect21 {
  background-color: $color_type_2;
  border-radius: $border_radius_type_0;
  width: 330px;
  height: 68px;
  position: absolute;
  top: 243px;
  left: 828px;
  min-width: 330px;
}
.section1__rect22 {
  background-color: $color_type_2;
  border-radius: $border_radius_type_0;
  width: 330px;
  height: 68px;
  position: absolute;
  top: 326px;
  left: 832px;
  min-width: 330px;
}
.section1__rect23 {
  background-color: $color_type_2;
  border-radius: $border_radius_type_0;
  width: 330px;
  height: 68px;
  position: absolute;
  top: 419px;
  left: 832px;
  min-width: 330px;
}
.section1__subtitle1_box {
  @include h-center-content;
  width: 100%;
  height: 100%;
}
.section1__subtitle1 {
  font: $font_type_3;
  color: $color_type_0;
  text-align: center;
  letter-spacing: 0px;
}
.section1__subtitle1_span0 {
  font: $font_type_4;
  color: $color_type_0;
  font-style: normal;
  letter-spacing: 0px;
}
.section1__subtitle1_span1 {
  font: $font_type_4;
  color: $color_type_5;
  font-style: normal;
  letter-spacing: 0px;
}
.section1__rect24 {
  background-color: $color_type_2;
  border-radius: $border_radius_type_0;
  width: 330px;
  height: 68px;
  position: absolute;
  top: 377px;
  left: 231px;
  min-width: 330px;
}
.section1__rect25 {
  background-color: $color_type_2;
  border-radius: $border_radius_type_0;
  width: 330px;
  height: 68px;
  position: absolute;
  top: 466px;
  left: 231px;
  min-width: 330px;
}
.section1__rect26 {
  background-color: $color_type_2;
  border-radius: $border_radius_type_0;
  width: 330px;
  height: 68px;
  position: absolute;
  top: 558px;
  left: 231px;
  min-width: 330px;
}
.section1__rect27 {
  background-color: $color_type_2;
  border-radius: $border_radius_type_0;
  width: 330px;
  height: 68px;
  position: absolute;
  top: 656px;
  left: 231px;
  min-width: 330px;
}
.section1__rect28 {
  background-color: $color_type_2;
  border-radius: $border_radius_type_0;
  width: 330px;
  height: 68px;
  position: absolute;
  top: 759px;
  left: 231px;
  min-width: 330px;
}
.section1__rect29 {
  background-color: $color_type_2;
  border-radius: $border_radius_type_0;
  width: 330px;
  height: 68px;
  position: absolute;
  top: 854px;
  left: 231px;
  min-width: 330px;
}
.section1__rect3 {
  background-color: $color_type_1;
  border-radius: $border_radius_type_0;
  width: 501px;
  height: 68px;
  position: absolute;
  top: 619px;
  left: 648px;
  min-width: 501px;
}
.section1__subtitle11_box {
  width: 100%;
  height: 100%;
}
.section1__subtitle11 {
  @include font-face($font_type_3, $color_type_0, 0px);
}
.section1__subtitle11_span0 {
  font: $font_type_4;
  color: $color_type_0;
  font-style: normal;
  letter-spacing: 0px;
}
.section1__subtitle11_span1 {
  font: $font_type_4;
  color: $color_type_4;
  font-style: normal;
  letter-spacing: 0px;
}
.section1__medium_title1 {
  @include font-face($font_type_1, $color_type_3, 0px);
  width: 100%;
  height: 100%;
}
.section1__icon {
  width: 20px;
  height: min-content;
  aspect-ratio: 1;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 332px;
  min-height: 0px;
  left: 258px;
  min-width: 20px;
}
.section1__icon1 {
  width: 20px;
  height: min-content;
  aspect-ratio: 1;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 333px;
  min-height: 0px;
  left: 356px;
  min-width: 20px;
}
.section1__image {
  width: 22px;
  height: min-content;
  aspect-ratio: 1.22;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 445px;
  min-height: 0px;
  left: 1109px;
  min-width: 22px;
}
